<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <mappers>
        <mapper resource="com/mybatis/AdminMapper.xml"/>
        <mapper resource="com/mybatis/HouseMapper.xml"/>
        <mapper resource="com/mybatis/SortMapper.xml"/>
        <mapper resource="com/mybatis/UsersMapper.xml"/>
        <mapper resource="com/mybatis/NoticeMapper.xml"/>
        <mapper resource="com/mybatis/OrdersMapper.xml"/>
        <mapper resource="com/mybatis/OrderDetailMapper.xml"/>
    </mappers>

</configuration>

