<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SortDao">
    <insert id="addSort" parameterType="com.bean.Sort">
        insert into Sort
        values (null, #{sname})
    </insert>
    <delete id="deleteSortByID" parameterType="int">
        delete
        from Sort
        where sid = #{sid}
    </delete>
    <select id="selectAllSort" resultType="com.bean.Sort">
        select *
        from Sort
    </select>
</mapper>